<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <header>
        <nav>
            <a href="/"> Home</a>
            <a href="/game">Game</a>
            <a href="/login">Login</a>
        </nav>
        <h1>Login or Die</h1>

    </header>

    <body>



    </body>
</html>
