<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lose</title>

  </head>
  <body>
    <header>
      <h1>Mystery Word</h1>
      <h1>Game Over</h1>
      <nav>
        <a href="/"><button type="button" name="button">Try again</button></a>
      </nav>
    </header>

  <div class="container">
    <div class="img">
      <img src="https://media.giphy.com/media/xTeWOAByHmPN1n7IqI/giphy.gif" alt="">
    </div>

  </div>
  </body>
</html>
